    @import 'vars';
    @import 'fonts';
    @import 'reset';
    @import 'global';
    @import 'media';
    @import 'libs';
    .header {
      padding: 16px 0;
    }
    
    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 70px;
    }
    
    .menu {
      &__list {
        display: flex;
      }
      .menu__list-item+.menu__list-item {
        margin-left: 50px;
      }
      &__list-link {
        padding: 42px 20px 41px 18px;
        line-height: 16.94px
      }
      &__list-link:hover {
        background-color: $default;
        color: #fff;
      }
    }
    
    .header-content {
      &__inner {
        display: flex;
        justify-content: space-between;
      }
      &__item {
        max-width: 570px;
      }
      &__bike {
        padding-top: 97px;
        max-width: 600px;
      }
      &__title {
        font-size: 64px;
        line-height: 77px;
        padding-top: 160px;
        margin-bottom: 5px;
      }
      &__under-title {
        color: #6F6F6F;
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 60px;
      }
      &__text {
        max-width: 420px;
        padding-bottom: 20px;
      }
      &__link {
        font-size: 20px;
        letter-spacing: 1.1em;
        color: #fff;
        padding: 28px 81px;
        background-color: $default;
        margin-top: 80px;
        display: inline-block;
        cursor: pointer;
        &:hover {
          color: #6F6F6F;
        }
      }
      &__images {
        max-width: 630px;
        margin-bottom: 25px;
      }
    }
    
    .characteristics {
      display: flex;
      justify-content: space-around;
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
      &__title {
        @extend%inter-700;
        margin-bottom: 13px;
        text-transform: uppercase;
      }
      &__item-width {
        width: 160px;
      }
    }
    
    .info {
      padding: 114px 0 150px;
      &__inner {
        display: flex;
      }
      &__images {
        margin-right: 60px;
      }
      &__content {
        max-width: 490px;
      }
      &__content-item {
        margin-bottom: 45px;
      }
      &__content-title {
        font-size: 16px;
        @extend%inter-700;
        margin-bottom: 10px;
      }
      &__content-text {
        max-width: 450px;
      }
    }
    
    .stat {
      padding-bottom: 150px;
      &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__items {
        max-width: 570px;
      }
      &__title {
        font-size: 16px;
        @extend%inter-700;
        margin-bottom: 40px;
      }
      &__items-title {
        @extend%inter-700;
        background-color: $default;
        color: #fff;
        line-height: 17px;
        margin-bottom: 10px;
        margin-top: 33px;
      }
    }
    
    .general {
      &__item {
        display: flex;
        margin-bottom: 5px;
      }
      &__item-name {
        flex-basis: 285px;
      }
      &__item-info {
        flex-basis: 285px;
      }
    }
    
    .forms {
      padding: 50px 0 100px;
      &__inner {
        display: flex;
        position: relative;
      }
      &__item {
        flex-basis: 420px;
        margin-right: 150px;
      }
      &__title {
        font-size: 16px;
        @extend%inter-700;
        line-height: 20px;
        margin-bottom: 41px;
      }
      &__text {
        max-width: 298px;
        margin-bottom: 29px;
      }
    }
    
    .form {
      &__input {
        border: none;
        padding: 0;
        display: block;
        border-bottom: 1px solid $default;
        width: 420px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #6F6F6F;
        &::placeholder {
          color: #6F6F6F;
          opacity: 0.5;
        }
      }
      &__filter {
        margin-top: 10px;
        margin-left: -15px;
      }
      &__filter-input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        &:checked+.form__filter-bike {
          display: block;
        }
      }
      &__filter-bike {
        display: none;
        position: absolute;
        right: 1px;
        top: 1px;
      }
      &__filter-price {
        position: absolute;
        font-size: 32px;
        line-height: 39px;
        left: -50px;
        top: 25px;
        &::after {
          content: '';
          position: absolute;
          border: 1px solid #ff4040;
          border-radius: 50%;
          width: 195px;
          height: 80px;
          left: -30px;
          top: -10px;
        }
        &::before {
          content: '';
          position: absolute;
          border: 1px solid #ff4040;
          border-radius: 50%;
          width: 195px;
          height: 80px;
          left: -30px;
          top: -20px;
        }
      }
      &__filter-color {
        width: 81px;
        height: 12px;
        border-radius: 30px;
        padding: 2px;
        cursor: pointer;
        display: inline-block;
      }
      &__filter-color--grey {
        background-color: #6F6F6F;
      }
      &__filter-color--white {
        background-color: #fff;
        border: 1px solid #6F6F6F;
      }
      &__filter-color--red {
        background-color: #FF4040;
      }
      &__btn {
        padding: 21px 81px;
        background-color: $default;
        color: #fff;
        letter-spacing: 1.1em;
        cursor: pointer;
        margin-top: 50px;
        &:hover {
          color: #6F6F6F;
        }
      }
    }
    
    .footer {
      padding: 21px 0;
      background-color: $default;
      color: #fff;
      &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__wrapper {
        display: flex;
        width: 85px;
        justify-content: space-between;
      }
      &__contacts-phone {
        display: flex;
      }
      &__contacts-link {
        color: #fff;
        margin-left: 10px;
      }
      &__contacts-phone {
        margin-bottom: 10px;
      }
      &__contacts-images {
        width: 24px;
      }
    }